[user]
  name = {{ .git.username }}
  email = {{ .git.email }}
  signingkey = {{ .git.signingkey }}
[core]
  editor = nvim
  pager = delta
[commit]
  gpgsign = true
[credential]
  help = manager
  helper = store
[init]
  defaultBranch = main
[pull]
  rebase = false
[push]
  followTags = true
[interactive]
  diffFilter = delta --color-only
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[delta]
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  navigate = true    # use n and n to move between diff sections
  syntax-theme = Dracula
  side-by-side = true
  hyperlinks = true
  hyperlinks-file-link-format = "file-line://{path}:{line}"
[delta "line-numbers"]
  line-numbers-left-style = cyan
  line-numbers-right-style = cyan
  line-numbers-minus-style = 124
  line-numbers-plus-style = 28
